BODY {
	BACKGROUND-IMAGE: url(/images/bg.jpg); BACKGROUND-COLOR: #000; LIST-STYLE-TYPE: none; MARGIN: 0px auto; COLOR: #000; FONT-SIZE: 12px; font:"Microsoft JhengHei"; TEXT-DECORATION: none
}
#wrap {
	MARGIN: 30px auto; WIDTH: 960px; OVERFLOW: hidden
}
div, h1, h2, h3, h4, form, label, input, textarea, img, span , p{
    margin:0;
}
ul{
	margin:0;
	padding:0;
	
}
li{ margin:0;
	padding:0;

	}
a:link{ color:#1E5CA9; text-decoration:none;}
a:visited{color:#1E5CA9; text-decoration:none;}
a:hover{color:#000000; text-decoration:none;}
a:actived{color:#000000; text-decoration:none;}
#top {
	WIDTH: 960px; BACKGROUND: url(/images/top_bg.png) no-repeat right top; HEIGHT: 110px
}
.logoarea {
	WIDTH: 304px; FLOAT: left
}
.top_right {
	WIDTH: 350px; FLOAT: right
}
.sitemap_bg {
	BACKGROUND-IMAGE: url(/images/sitemap_bg.jpg); MARGIN: 15px 10px 10px 0px; WIDTH: 280px; FLOAT: right; HEIGHT: 39px; CLEAR: both
}
.search_bg {
	MARGIN: 0px 10px 10px 0px; WIDTH: 236px; BACKGROUND: url(/images/search_bg.jpg) no-repeat left top; FLOAT: right; HEIGHT: 30px
}
.search_bg_input {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: medium none; BACKGROUND-COLOR: #ffffff; MARGIN: 1px 0px 3px 18px; PADDING-LEFT: 5px; FLOAT: left; HEIGHT: 21px; COLOR: #5597d2; FONT-SIZE: 13px; BORDER-TOP: #e4e4e4 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.search_bg IMG {
	FLOAT: right
}
.sitemap_bg A {
	TEXT-ALIGN: center; LINE-HEIGHT: 32px; MARGIN: 4px 0px 0px 24px; WIDTH: 65px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 32px; COLOR: #ffffff; FONT-SIZE: 12px; OVERFLOW: hidden; TEXT-DECORATION: none; _margin: 4px 0px 0px 14px
}
.sitemap_bg A:hover {
	BACKGROUND-IMAGE: url(/images/sitemap_bg02.jpg); COLOR: #86b3db;
}
.menu{width:960px;float:left;}
.menu ul{ width:960px; height:48px; float:left;	list-style:none;
	text-decoration:none;}
.menu ul li{ height:48px; float:left;	list-style:none;
	text-decoration:none;}
.menu ul li a{display:block; height:48px;}
.menu ul li a:hover{background-position:0 -48px;}
.top_nav {
	WIDTH: 960px; FLOAT: left
}

.banner {
	WIDTH: 960px; FLOAT: left; HEIGHT: 330px
}

#main {
	WIDTH: 960px; FLOAT: left
}
* + HTML #main {
	MARGIN-TOP: 387px; WIDTH: 960px; FLOAT: left
}
.sider {
	WIDTH: 221px; FLOAT: left;
}
.img_ju {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.sider_bg {
	WIDTH: 221px; BACKGROUND: url(/images/list_bg.jpg) no-repeat left bottom; FLOAT: left; min-height: 623px;
}
.sider_bg UL {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 35px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; PADDING-TOP: 0px; _margin: 0px 0px 0px 35px
}
.sider_bg UL LI {
	BORDER-BOTTOM: #cccccc 1px solid; PADDING-TOP: 5px; LINE-HEIGHT: 31px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px;  _padding: 0px
}
.sider_bg IMG {
	FLOAT: left
}
.clear {
	CLEAR: both
}
.main_right {
	BACKGROUND-IMAGE: url(/images/title_bg.jpg); WIDTH: 739px; FLOAT: left; HEIGHT: 53px
}
.bread{ float:right; margin:30px;}
.fenge{ width:690px; text-align:center; clear: both; margin-top:25px;}
.main_right_bg {
	BACKGROUND-IMAGE: url(/images/main_bg.jpg); WIDTH: 739px; FLOAT: left; HEIGHT: 623px
}
.main_pro {
	TEXT-ALIGN: center; MARGIN: 15px 15px 5px 40px; WIDTH: 180px; FLOAT: left; _margin: 35px 15px 20px 28px
}
.main_pro img1{
	margin-bottom:10px; padding:8px; border:1px #CCCCCC solid;
}
* + HTML .main_pro {
	TEXT-ALIGN: center; MARGIN: 35px 15px 20px 40px; WIDTH: 180px; FLOAT: left
}
.main_prof {
	TEXT-ALIGN: center; MARGIN: 20px 15px 10px 40px; WIDTH: 180px; FLOAT: left; _margin: 20px 15px 20px 28px
}
.main_prof img1{
	margin-bottom:10px; padding:8px; border:1px #CCCCCC solid;
}
* + HTML .main_prof {
	TEXT-ALIGN: center; MARGIN: 20px 15px 20px 40px; WIDTH: 180px; FLOAT: left
}
.main_text {
	MARGIN: 8px 0px 15px; WIDTH: 180px; FLOAT: left; COLOR: #5597d2; FONT-WEIGHT: bold
}
.main_p {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; MARGIN: 3px 0px; PADDING-LEFT: 20px; WIDTH: 150px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.main_more {
	MARGIN: 5px 0px
}
A.pro_link:link {
	COLOR: #5597d2; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.pro_link:visited {
	COLOR: #5597d2; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.pro_link:hover {
	COLOR: #000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.con_link:link {
	COLOR: #000; FONT-SIZE: 13px; TEXT-DECORATION: none
}

A.con_link:visited {
	COLOR: #000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.con_link:hover {
	COLOR: #5597d2; FONT-SIZE: 13px; TEXT-DECORATION: none
}
#footer {
	TEXT-ALIGN: left; PADDING-BOTTOM: 15px; MARGIN: 18px 0px 0px; WIDTH: 960px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; COLOR: #fafafa
}
#footer H3 {
	MARGIN: 0px 0px 8px; FONT-WEIGHT: normal
}
A.foot_link:link {
	COLOR: #fafafa; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.foot_link:visited {
	COLOR: #fafafa; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.foot_link:hover {
	COLOR: #5597d2; FONT-SIZE: 13px; TEXT-DECORATION: none
}
#ny_main {
	WIDTH: 960px;  FLOAT: left;
}
* + HTML #ny_main {
	MARGIN-TOP: 387px; WIDTH: 960px; BACKGROUND: url(/images/sider_bg.jpg) repeat-y left top; FLOAT: left
}
#ny_main1 {
	BACKGROUND-COLOR: #ffffff; WIDTH: 960px; FLOAT: left
}
* + HTML #ny_main1 {
	BACKGROUND-COLOR: #ffffff; WIDTH: 960px; FLOAT: left
}
#ny_main2 {
	WIDTH: 960px; BACKGROUND: url(/images/right_bg.jpg) repeat-y right top; FLOAT: left
}
* + HTML #ny_main2 {
	WIDTH: 960px; BACKGROUND: url(/images/right_bg.jpg) repeat-y right top; FLOAT: left
}


.nysider_bg {
	WIDTH: 221px; BACKGROUND: url(/images/list_bg1.jpg) no-repeat left bottom; FLOAT: left; min-height:623px; 
}

.nysider_bg UL {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 35px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; PADDING-TOP: 0px; _margin: 0px 0px 0px 35px
}
.nysider_bg UL LI {
	BORDER-BOTTOM: #cccccc 1px solid; PADDING-TOP: 5px; LINE-HEIGHT: 31px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px;  _padding: 0px
}
.nysider_bg IMG {
	FLOAT: left
}
.ny_right_bg {
	WIDTH: 739px; MARGIN-BOTTOM: 0px; BACKGROUND: url(/images/right_bg.jpg) repeat-y right top; FLOAT: left
}
.ny_right ul{ margin-top:60px;}
.ny_right li{ display:inline; margin-left:35px;}

.ny_right h2{ color:#06C;}
.ny_right p{ line-height:22px; color:#666; margin-top:8px; margin-bottom:15px;}
.ny_right table{ background:#d7d7d7;}
.ny_right table td{ background:#FFF; text-align:center; padding:5px;}


.ny_left {
	BACKGROUND-COLOR: #ffffff; WIDTH: 21px; FLOAT: left
}
.ny_right {
	PADDING-BOTTOM: 10px; MARGIN: 10px 0px 10px 10px; PADDING-LEFT: 10px; WIDTH: 670px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 10px; _width: 650px
}
.blue {
	COLOR: #1070c7
}
.size1 {
	FONT-SIZE: 22px
}
.size2 {
	FONT-SIZE: 15px; COLOR: #202020;
}
.size3 {
	FONT-SIZE: 15px; COLOR: #1E5CA9;
}
.p_ju {
	LINE-HEIGHT: 22px; MARGIN: 5px 0px 8px 10px
}
.main_pro1 {
	TEXT-ALIGN: center; MARGIN: 12px 25px 20px; WIDTH: 160px; FLOAT: left; OVERFLOW: hidden; _margin: 15px 15px 20px 10px
}
* + HTML .main_pro1 {
	TEXT-ALIGN: center; MARGIN: 16px 25px 20px; WIDTH: 160px; FLOAT: left
}
.main_text1 {
	MARGIN: 8px 0px 5px; WIDTH: 150px; FLOAT: left; COLOR: #5597d2; FONT-WEIGHT: bold
}
.main_pro2 {
	BORDER-BOTTOM: #cccccc 1px dashed; TEXT-ALIGN: left; PADDING-BOTTOM: 10px; MARGIN: 10px 20px 20px 15px; WIDTH: 620px; FLOAT: left; _margin: 15px 15px 20px 18px; _padding: 0px 0px 10px 0px
}
* + HTML .main_pro2 {
	TEXT-ALIGN: center; MARGIN: 12px 20px 20px 15px; WIDTH: 620px; FLOAT: left
}
.main_text2 {
	TEXT-ALIGN: left; MARGIN: 8px 0px 5px 10px; WIDTH: 560px; FLOAT: left; COLOR: #5597d2; FONT-SIZE: 19px; FONT-WEIGHT: bold
}
.main_p2 {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; MARGIN: 3px 0px 3px 20px; WIDTH: 580px; FLOAT: left
}
.main_p1 {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; MARGIN: 3px 0px 3px 20px; WIDTH: 500px; FLOAT: left
}
.main_text3 {
	TEXT-ALIGN: left; MARGIN: 8px 0px 5px 8px; WIDTH: 300px; FLOAT: left; COLOR: #333; FONT-SIZE: 16px
}
.orange {
	COLOR: #ff6600
}
.p_ju2 {
	LINE-HEIGHT: 22px; MARGIN: 5px 0px 8px 20px; FONT-SIZE: 13px
}
.daolan {
	TEXT-ALIGN: right; WIDTH: 600px; FLOAT: right
}
.red {
	COLOR: #ff0000; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.table_ju {
	MARGIN: 10px 0px 10px 15px; FLOAT: left
}
.xian {
	BORDER-BOTTOM: #999999 1px dashed; PADDING-BOTTOM: 10px; WIDTH: 600px; MARGIN-BOTTOM: 20px; FLOAT: left
}
.sider_title {
	BACKGROUND-IMAGE: url(/images/sider_title.jpg); PADDING-BOTTOM: 0px; LINE-HEIGHT: 53px; PADDING-LEFT: 20px; WIDTH: 201px; PADDING-RIGHT: 0px; FONT-FAMILY: "¸D¼«"; FLOAT: left; HEIGHT: 48px; FONT-SIZE: 19px; PADDING-TOP: 5px; _padding: 0px 0px 0px 20px
}
.ny_sider_title {
	BACKGROUND-IMAGE: url(/images/sider_title_n.jpg); PADDING-BOTTOM: 0px; LINE-HEIGHT: 53px; PADDING-LEFT: 20px; WIDTH: 194px; PADDING-RIGHT: 0px; FONT-FAMILY: "¸D¼«"; FLOAT: left; HEIGHT: 48px; FONT-SIZE: 19px; PADDING-TOP: 5px
}
A.sider_link:link {
	COLOR: #5597d2; FONT-SIZE: 15px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.sider_link:visited {
	COLOR: #5597d2; FONT-SIZE: 15px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.sider_link:hover {
	COLOR: #000; FONT-SIZE: 15px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
